/* style.css */
* {
  align-items: center;
  color: #94784A;
  font-family: monospace;
  justify-content: center;
}

body {
  background-color: #7E9D73;
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: scroll;
}

button {
  border-color: #6C5736;
  font-size: 2em;
  min-width: 15vw;
}

div {
  display: flex;
}

h1 {
  font-size: 5vh;
}

/* class="header" */
button, .header {
  background: #1D3821;
  display: flex;
  padding: 1vw;
}

#screen {
  background: #152617;
  text-align: right;
  margin: 7vh auto 0;
  padding: 1vh 3vw;

  min-height: 7vh;
  width: 54vw;
}

#clr_btn {
  width: 60vw;
}
